* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#index a {
  color: white;
}

header {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(120deg, #c8102e, #007e11);
  color: white;
  padding-top: 2.5em;
}

.content {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px;
}

#title {
  padding-bottom: 1em;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0;
  font-weight: lighter;
}

header div {
  display: inline-block;
}

#index {
  padding: 10px;
  font-size: 1.2em;
}

#index div {
  vertical-align: middle;
  text-align: center;
  width: 20%;
  padding: 10px 1%;
}

#logos {
  text-align: center;
  margin: 10px auto;
  padding: 0;
}

img {
  margin: 0 1%;
  vertical-align: middle;
}

#somos {
  width: 14%;
}

#ictm {
  width: 10%;
}

#uab {
  width: 14%;
}

#mtg {
  width: 32%;
}

#kug {
  width: 11%;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 0.2em;
}

table {
  width: 100%;
}

.timeCol {
  width: 10%;
}

.mainCol {
  width: 30%;
}

#kn {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#venues {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

@media (max-width: 800px) {
  #venues {
    flex-direction: column;
  }
}

.venue {
  box-sizing: border-box;
  flex: 50%;
  padding: 10px;
}

.date {
  text-align: center;
}

.venue h2 {
  text-align: center;
  margin: 0.3em 0;
}

.venue h4 {
  margin: 0;
}

.venue p {
  margin: 0;
  margin-bottom: 0;
}

iframe {
  width: 100%;
  height: 250px;
  border: 0;
  margin-top: 1em;
}

.subteam {
  margin-top: 2em;
  margin-bottom: 0;
}

#team h4, #kn-name {
  margin-top: 1em;
  margin-bottom: 0;
}

#team p, #kn-affiliation {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2em;
}
