* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

header {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(120deg, #c8102e, #007e11);
  color: white;
  padding-top: 2.5em;
}

.content {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
}

#title {
  padding-bottom: 1em;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0;
  font-weight: lighter;
}

header div {
  display: inline-block;
}

#index {
  padding: 10px;
  font-size: 1.2em;
}

#index div {
  vertical-align: middle;
  text-align: center;
  width: 20%;
  padding: 10px 1%;
}

#logos {
  text-align: center;
  margin: 10px auto;
  padding: 0;
}

img {
  margin: 0 1%;
  vertical-align: middle;
}

#somos {
  width: 19%;
}

#ictm {
  width: 12%;
}

#uab {
  width: 18%;
}

#mtg {
  width: 35%;
}

#venues {
  width: 100%;
  margin-bottom: 3em;
}

#venues div {
  display: inline-block;
  width: 45%;
  min-width: 300px;
  margin: 0 2%;
}

#venues h2 {
  text-align: center;
  margin-bottom: 5px 0;
}

#venues .date {
  text-align: center;
  margin-top: 2em;
  font-variant: small-caps;
}

#venues h4 {
  margin: 5px 0;
}

#venues p {
  margin-top: 0;
}

.subteam {
  margin-top: 2em;
  margin-bottom: 0;
}

#team h4 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

#team p {
  margin-top: 0;
  margin-left: 2em;
}
