* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

#index a {
  color: white;
}

header {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(120deg, #c8102e, #007e11);
  color: white;
  padding-top: 2.5em;
}

.content {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px;
}

#title {
  padding-bottom: 1em;
  color: white;
  text-decoration: none;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0;
  font-weight: lighter;
}

header div {
  display: inline-block;
}

#index {
  padding: 10px;
  font-size: 1.2em;
}

#index div {
  vertical-align: middle;
  text-align: center;
  width: 17%;
  padding: 10px 1%;
}

#logos {
  text-align: center;
  margin: 10px auto;
  padding: 0;
}

#logos img {
  margin: 0 1%;
  vertical-align: middle;
}

#somos {
  width: 14%;
}

#ictm {
  width: 10%;
}

#uab {
  width: 14%;
}

#mtg {
  width: 32%;
}

#kug {
  width: 11%;
}

#welcome {
  text-align: center;
}

#welcome h1 {
  margin-bottom: 0;
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: linear-gradient(120deg, #c8102e, #007e11); */
}

#welcome h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

#highlights {
  position: relative;
  top: 0.75em;
  width: 5.2em;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  padding: 0 0 0 0.2em;
}

.highlight {
  line-height: 2em;
  font-size: 1.08em;
}

#box {
  margin: 0 1em 1em 1em;
  border: 1px solid gray;
  border-radius: 8px;
}

#highlights-list {
  margin: 1.5em 1em 1em 1.5em;
  padding-left: 1em;
}

/* #box li {
  line-height: 2em;
  font-size: 1.08em;
} */

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em;
}

table {
  width: 100%;
}

.presentation {
  background-color: rgb(0, 191, 255, 0.3);
}

.break {
  background-color: rgb(255, 165, 0, 0.3);
}

.special {
  background-color: rgb(50, 205, 50, 0.3);
}

.extra {
  background-color: rgb(123, 104, 238, 0.3);
}

.timeCol {
  width: 10%;
}

.mainCol {
  width: 30%;
}

#kn, #concert {
  font-variant: small-caps;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 0.2em;
}

/* #kn {
  margin-bottom: 0;
}

#kn-chair {
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-left: 2em;
}

#concert {
  margin-bottom: 0.2em;
} */

.section {
  margin-top: 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid black;
}

#program .section {
  margin-top: 2em;
  /* border-bottom: 0; */
  font-variant: small-caps;
}

/* #kn, #concert {
  margin-top: 0;
} */

#program a {
  color: black;
}

.kn-affiliation {
  padding-bottom: 0.5em;
}

/* .musician .pic {
  float: right;
  margin-left: 1em;
  width: 200px;
  height: 180px;
}

.pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

#musicians {
  display: flex;
  flex-direction: row;
}

.musician {
  box-sizing: border-box;
  flex: 50%;
  position: relative;
}

.musician img {
  width: 90%;
  margin-left: 2em;
  margin-top: 1em;
  max-height: 350px;
  object-fit: cover;
}

#MarcChemillier {
  padding-right: 20px;
}

#JustinVali {
  padding-left: 20px;
}

#JustinVali img {
  width: 86.4%;
  object-position: 0 35%;
  position: absolute;
  bottom: 6px;
}

.session {
  margin-top: 3em;
  margin-bottom: 0;
  /* border-bottom: 1px solid black; */
}

.chair {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.number {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  font-style: italic;
}

.authors {
  /* margin-top: 2em; */
  font-weight: bold;
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.paper {
  /* margin-top: 1em; */
  padding-left: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

.tip {
  border-bottom: 1px solid black;
}

#venues {
  display: flex;
  flex-direction: row;
}

@media (max-width: 910px) {
  #venues, #musicians {
    flex-direction: column;
  }
  .musician {
    padding-left: 0;
    padding-right: 0;
  }
  .musician img {
    max-height: 100%;
    width: 95%
  }
  #MarcChemillier {
    padding-right: 0;
  }
  #JustinVali {
    padding-left: 0;
  }
  #JustinVali img {
    object-position: 0 0;
    position: static;
    width: 95%
  }
}

.online {
  font-style: normal;
}

.abstract-button {
  /* text-align: right; */
  padding-left: 8em;
  font-size: 0.9em;
  margin-top: 0;
  cursor: pointer;
}

.abstract {
  padding-left: 4em;
  margin-bottom: 3em;
  /* font-size: 0.9em; */
}

.reference {
  padding-left: 2em;
  text-indent: -2em;
  margin-top: 0;
  margin-bottom: 0;
}

.venue {
  box-sizing: border-box;
  flex: 50%;
  padding: 10px;
}

.date {
  text-align: center;
}

.venue h2 {
  text-align: center;
  margin: 0.3em 0;
}

.venue h4 {
  margin: 0;
}

.venue p {
  margin: 0;
  margin-bottom: 0;
}

iframe {
  width: 100%;
  height: 250px;
  border: 0;
  margin-top: 1em;
}

.tips li {
  margin-top: 1.2em;
}

/* .hotel {
  margin-top: 1em;
} */

.subteam {
  margin-top: 2em;
  margin-bottom: 0;
}

#team h4, .kn-name {
  margin-top: 1em;
  margin-bottom: 0;
}

#team p, .kn-affiliation, .musician p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2em;
}

footer {
  margin-top: 5em;
  width: 100%;
  margin-top: 3em;
}

footer p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  width: 1000px;
  border-top: 1px solid gray;
}

footer a {
  text-decoration: none;
}
